<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.api</string>
	<key>connections</key>
	<dict>
		<key>989AEF75-A227-4146-B3FD-B6B40555361A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D5ADB27-883F-4592-A519-21F64CB0B51D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9D5ADB27-883F-4592-A519-21F64CB0B51D</key>
		<array/>
		<key>B3B09A22-B19B-4614-AB46-8FDAB113697F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6B81364-5ED5-402D-A039-58B764DE4783</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FBA25A1C-8BA2-409C-9262-162006085B36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABACE113-8CD8-404C-AD33-28D9208BEB4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>The AAPI Team</string>
	<key>description</key>
	<string>For Developer Use Only</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>API</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./endpoints.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6B81364-5ED5-402D-A039-58B764DE4783</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>com.api.endpoints</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B3B09A22-B19B-4614-AB46-8FDAB113697F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>com.api.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>989AEF75-A227-4146-B3FD-B6B40555361A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./exists.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D5ADB27-883F-4592-A519-21F64CB0B51D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./check-connection.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ABACE113-8CD8-404C-AD33-28D9208BEB4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>com.api.check.connection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>FBA25A1C-8BA2-409C-9262-162006085B36</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>989AEF75-A227-4146-B3FD-B6B40555361A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9D5ADB27-883F-4592-A519-21F64CB0B51D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>ABACE113-8CD8-404C-AD33-28D9208BEB4D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B3B09A22-B19B-4614-AB46-8FDAB113697F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C6B81364-5ED5-402D-A039-58B764DE4783</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FBA25A1C-8BA2-409C-9262-162006085B36</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.packal.org</string>
</dict>
</plist>
